body{
    background-color:#ECF0F5;

}
.envio{
    margin-bottom:20px;

}
.margintop{
    margin-top:20px;
}
#mensagem{
    width:100%;
    z-index: 20000;
    position:fixed;
    top:-80px;


}
.alert-danger, .alert-success{
    display:none;
}
.alert{
    padding-bottom:5px;
    text-align:center;
    box-shadow: rgba(0,0,0,.3) 1px 1px 10px;

}
.botao{
    margin-top:5px;
    margin-right:10px;
    margin-bottom:10px;
}
.erro input,textarea{
    border:1px solid #dd4b39;
}
.erro > .checkboxmsg{
    border:1px solid #dd4b39;
}
.erro select{
    border:1px solid #dd4b39;
}
.profile_view {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    min-height: 300px;
    position:relative;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.well.profile_view {
    padding: 10px 0 15px 0;
}

.user-image {
    position: relative;
    width: 100px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    border:2px solid #a3d0ef;
    clear: both; margin: auto;

}
.user-image img  {
    position: absolute;
    left: 50%;
    top: 57%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.user-image-edit {
    position: absolute;
    width: 100px;
    height: 110px;
    overflow: hidden;
    border-radius: 50%;
    border:2px solid #a3d0ef;
    clear: both; margin: auto;
    top:-30px;
    right:20px;

}
.user-image-edit img  {
    position: absolute;
    left: 50%;
    top: 57%;
    width: 100%;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
a.excluirfoto{
    position: absolute;
    z-index: 9000;
    right:20px;
    top:-30px;
}
.invisivel{
    display:none;
}
.dados-aluno{
    padding-bottom:10px;
}
.botoes{
    position:absolute;
    bottom:2px;
    border-top:1px solid #D2D4D9;
    padding-top:10px;
    padding-bottom:5px;
}
.botoes-int{
    width:95%;
    margin:0 auto;
}
.relative{
    position:relative;
}
.botao-enviar{
    position:absolute;
    left:550px;
    top:20px;
}
#carregandoupload{
    position:absolute;
    left:170px;
    top:10px;
    background:#FFF;
    border:1px solid #DDD;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    border-radius: 5px;
    padding:11px;
    display:none;
}
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}